@value makerWhite, makerBlack, makerGreen from '../../common/colors.css';

.header {
  width: 100%;
  text-align: center;
  background-color: makerGreen;
  padding: 0.5em;
  position: relative;
}
.logo {
  width: 5em;
}
.title {
  color: makerWhite;
  margin: 0;
}
.logout {
  position: absolute;
  top: 1em;
  right: 3em;
  outline: none;
  background-color: makerBlack;
  color: makerWhite;
  border-radius: 20%;
  padding: 0.8em;
  cursor: pointer;
}
